{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

      <div class="row">
            {{ form_start(form) }}

                {{ form_row(form.email) }}
                {{ form_row(form.pwd) }}

                <button type="submit" class="btn btn-primary">Sign in</button>
            {{ form_end(form) }}
        </div>


{% endblock body %}
