{#templates/form/signup.twig#}
{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}
{% block body %}
    <div class="row">
        {{ form(form)}}
    </div>

{% endblock body %}
        
   