{% extends 'base.html.twig' %}
{% block title %} 
What do you think you are the best at ? 
{% endblock %}
{% block body %}
  <form id="specform" action="/addspecs" method="post">
  <div class='row'>
    {% for sp in specs %}
      <div class='col-md-2'>
        <label><input type="checkbox" name="spec[]" value="{{ sp.id }}" >{{ sp.cuisine }}</label>
      </div>
    {% endfor %}
    </div>
    <div class='row'>People under that age should not get in :<input type="number" name="min_age"></div>
      <div>Not less people than : <input type="number" name="min"></div>
      <div>Not more people than : <input type="number" name="max"></div>
      <input type="submit" class="button btn-danger btn-xs">
    <div>
  </form>

{% endblock %}
{% block javascripts %}
{% endblock %}
