{% extends 'base.html.twig' %}


{% block body %}
<div class="jumbotron"></div>
  <div class="jumbotron text-center">
      <h1>Main Page</h1> 
      <p>Look for a restaurant </p> 
      <form class="form-inline" method="get" action="{{ path('search')}}" >
        <div class="input-group">
          <input type="text" name="key" class="form-control" id="search" size="50" placeholder="Thai Richer ..." autocomplete="off" required>
          <div class="input-group-btn">
            <input type="submit" class="btn btn-danger" value="Take a look">
          </div>
        </div>
      </form>
      <div id="search-result">

      </div>
    </div>
  </div>
  {% endblock %}
  {% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
  {% endblock %}
