{% extends 'base.html.twig' %}

{% block title %}PEACLES {% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  <div class="jumbotron text-center" id="main" style='background: transparent;'>
      <h1>Main Page</h1>
      <p>Look for a restaurant </p>
      <form class="form-inline" method="get" action="{{ path('search')}}" >
        <div class="input-group col-lg-12">
          <input type="text" name="key" class="form-control input-lg" id="search" size="50" placeholder="Thai Richer ..." autocomplete="off" required>
          <div class="input-group-btn">
            <input type="submit" class="btn btn-danger" value="Take a look">
          </div>
        </div>
      </form>
      <button class="btn btn-warning btn-lg" id="geo" style="margin-top:2%">Near me</button>
      <div id="search-result">

      </div>
  </div>
{% endblock %}
  {% block javascripts %}
    {{ parent() }}
    <script src="https://c""dn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(sendReq);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function sendReq(position) {
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        
        $.post({
          url : "/closest",
          longitude : long,
          latitude : lat
        });
      }

      $('#geo').click(getLocation());
    </script>
  {% endblock %}
